.main{
    background: #f4f4f4;
}
.panel{
    width: 50%;
    margin: 4% auto 15% auto;
    padding: 50px 50px;
    border-radius: 10px;
    text-align: center;
    color: #b3b3b3;
    font-size: 25px;
    background: white;
    box-shadow: 0 0 20px lightgray;
}
.panel .header{
    margin-bottom: 20px;
    color: #66BB6A;
}
.panel .image img{
    border-radius: 10px;
    width: 200px;
    height: 200px;
}
.panel .sign{
    margin-top: 10px;
}
.panel .sign a{
    font-size: 16px;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    background: #4CAF50;
    transition-duration: 0.3s;
}
.panel .sign a:hover{
    background: #ffffff;
    color: #66BB6A;
    border: 1px solid #66BB6A;
}
@media (max-device-width: 600px) {
    .panel{
        width: 100%;
        padding: 20px 0;
    }
}
@media (max-device-width: 992px) and (min-device-width: 601px){
    .panel{
        width: 70%;
    }
}