
#article{
  padding: 0;
}

#article .card-title{
  padding: 20px 20px 10px 20px;
}

#article .card-title h3{
  font-weight: 500;
  color: #414141;
  font-size: 35px;
  margin: 0;
}

#article .card-title .article-tags{
  line-height: 26px !important;
  margin-top: 10px;
}

#article .card-title .stats{
  display: flex;
  margin: 20px 0;
}

#article .card-title .stats .stat{
  display: flex;
  margin: 0 10px;
}

#article .card-title .stats .stat img{
  width: 20px;
  height: 20px;
}

#article .card-title .stats .stat span{
  line-height: 20px;
  margin-left: 10px;
}


#article .card-content {
  padding: 10px 20px;
}


#article .user-row{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#article .user{
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
}

#article .user img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

#article .user .user-info{
  margin-left: 10px;
}

#article .user .title{
  font-size: 20px;
  font-weight: 500;
  color: white;
}

#article .user .rating{
  display: flex;
}

#article .user .rating img{
  width: 20px;
  height: 20px;
}

#article .user .rating span{
  font-size: 16px;
  line-height: 25px;
  margin-left: 5px;
  color: white;
}

#article .card-action {
  padding: 20px !important;
  border: none;
}

#article .rate-row{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

#article .rate-row span{
  margin: 0 20px;
  font-weight: bold;
  color : darkgrey;
  font-size: 30px;
}

#article .rate-row img{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.comments .comments-title {
  display: flex;
}

.comments .comments-title h4{
  color: white;
  text-shadow: 0 2px 2px black;
  font-size: 35px;
  margin: 0;
}

.comments .comments-title span{
  line-height: 35px;
  font-size: 20px;
  color: dimgrey;
  margin: 3px 10px;
  border-radius: 20px;
  padding: 2px 10px;
  background: white;
}

.comments .card{
  border-radius: 10px;
}

.comments .card .card-title {
  padding: 10px 15px 0 15px;
  color: #838383;
  display: flex;
}

.comments .card .card-title .commenter-login{
  font-size: 14px;
}

.comments .card-title .comment-rate{

}

.comments .card-content {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}
.comments .card-content img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: -10px;
}

.comments .card-content p{
  font-size: 14px;
  font-weight: 400;
  color: #3e3e3e;
}
.comments .card-content .left-side{
}
.comments .card-content .left-side span{
  font-size: 14px;
  width: 100%;
  margin: -15px 0 -15px 5px !important;
}
.comments .card-content .left-side .star1{
  margin-bottom: -13px;
}.comments .card-content .left-side .star2{
  margin-top: -10px;
}


@media (max-device-width: 600px) {
  #article .card-title h3{
    font-size: 20px;
  }
  #article .card-title .article-tags .chip{
    margin: 0 !important;
  }

  #article .card-title .stats .stat{
    display: flex;
    margin: 0 10px;
  }

  #article .card-title .stats .stat img{
    width: 13px;
    height: 13px;
  }

  #article .card-title .stats .stat span{
    line-height: 13px;
    margin-left: 5px;
    font-size: 15px;
  }

  .comments .comments-title h4{
    font-size: 30px !important;
  }

  .comments .comments-title span{
    padding: 2px 5px;
    line-height: 30px;
  }

}

@media (max-device-width: 992px ) and (min-device-width: 600px){

  #article .card-title h3{
    font-size: 30px;
  }

}

@media (min-device-width: 992px ){

  #article .card-title .article-tags .chip{
    height: 30px !important;
    line-height: 30px !important;
    font-size: 14px !important;
  }

}