.head-info{
    margin: 20px;
}
.head-info .card{
    padding: 0;
}
.head-info .card-image{
    position: relative;
    cursor: pointer;
}
.head-info #image-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 128, 128, 0.39);
}
.head-info #image-hover svg{
    width: 50%;
    height: 50%;
}
.head-info .left .error{
    font-weight: 100;
    font-size: 14px;
}
.head-info .right{
    padding: 5px 20px;
}
.head-info .title{
    display: flex;
    align-items: center;
    padding: 0;
}
.head-info .title svg{
    width: 20px;
    height: 20px;
    margin: 0 13px 0 3px;
}
.head-info .subtitle{
    display: flex;
    align-items: center;
    padding: 0;
}
.head-info .subtitle svg{
    width: 20px;
    height: 20px;
    margin: 0 13px 0 3px;
}
.head-info .title .input-field{
    width: 100%;
    display: flex;
    margin: 5px 0;
    align-items: center;
}
.head-info .subtitle .input-field{
    width: 100%;
    display: flex;
    margin: 5px 0;
    align-items: center;
}
.head-info .tags{
    margin: 5px 0;
}
.head-info .tags svg{
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.head-info .tags .name{
    margin-left: 35px;
}
#article-editor {
    font-size: 15px;
}
.image-wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.image-wrapper img{
    margin-bottom: 10px;
    width: auto;
    height: 100%;
}
.error{
    display: flex;
    align-items: center;
}
.error img{
    width: 15px;
    height: 15px !important;
    margin: 7px 5px 0 5px;
}
.actions {
    width: 100%;
    display: flex;
    align-items: center;
}
.actions .left{
    display: flex;
    justify-content: left;
    width: 50%;
}
.actions .right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.actions .create-article{
    padding: 10px 20px;
    background-color: #FF6138;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px lightgray;
    transition-duration: 0.3s;
    cursor: pointer;
}
.actions .create-article:hover{
    box-shadow: 0 0 20px 4px #cccccc;
}
@media (max-device-width: 600px) {
    .head-info{
        padding: 0 !important;
    }
    .head-info h4{
        font-size: 25px !important;
    }
    .actions{
        flex-flow: column;
        margin-top: 30px;
    }
    .actions .left{
        width: 100%;
    }
    .actions .right{
        width: 100%;
        justify-content: center;
    }
}