.ql-tooltip-editor input{
    box-shadow: none !important;
    border: none !important;
    padding: 0 10px !important;
}
.ql-tooltip{
    z-index: 5;
}

.row{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.main .container{
    display: flex;
}
.left-side{
    width: 70%;
    padding-right: 10px;
}
.right-side{
    width: 30%;
}

.title{
    padding: 0 !important;
    margin-left: -10px !important;
    display: flex;
    align-items: center;
}
.title h1{
    font-size: 50px;
    margin: 0 0 20px 0;
    color: #8e8e8e;
}
.title svg{
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 10px 20px 0;
}
.header-input{
    padding: 0 !important;
}
.header-input .input-field svg{
    width: 25px;
    height: 25px;
    margin: 8px 0 0;
}
.editor-container{
}
.error{
    display: flex;
    align-items: center;
}
.error img{
    width: 15px;
    height: 15px !important;
    margin: 7px 5px 0 5px;
}
.divider{
    height: 1px;
    background: lightgray;
    margin: 10px 0;
}
#question-editor{
    font-size: 16px;
    margin: 20px 0;
}
.image-wrapper{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.image-wrapper img{
    margin-bottom: 10px;
    width: auto;
    height: 100%;
}
.action {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: right;
}
.action .send-question{
    display: flex;
    align-items: center;
    background: #006064;
    border-radius: 30px !important;
    cursor: pointer;
    transition-duration: 0.3s;
}
.action .send-question:hover{
    background-color: #007f83;
}
.action .send-question .text{
    color: white;
    padding: 0 10px !important;
}
.action .send-question .image{
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0 30px 30px 0;
}
.action .send-question .image svg{
    width: 20px;
    height: 20px;
}
.help{
    padding: 10px;
}
.help .head{
    display: flex;
    align-items: center;
}
.help .head svg{
    width: 20px;
    height: 20px;
}
.help .head span{
    margin-left: 5px;
    font-size: 14px;
    color: #6a6a6a;
}
.help .content{
    font-size: 12px;
    color: #858585;
    margin: 5px 0;
    padding: 5px 10px;
}
.help .content ul li{
    list-style: outside !important;
    margin: 5px 0;
}
.last-questions{
    padding: 10px;
}
.last-questions .head{
    font-size: 14px;
    color: dimgray;
}
.last-questions .questions{
    margin: 5px 0;
}
.last-questions .question{
    display: block;
    padding: 5px 0;
    font-size: 12px;
    flex-flow: wrap;
    color: rgba(0, 110, 124, 0.83);
    border-bottom: 1px solid lightgray;
}
.last-questions .question:hover{
    color: #008f9f;
}

@media (max-device-width: 600px) {
    .main .container{
        display: block;
    }
    .left-side{
        width: 100%;
    }
    .right-side{
        width: 100%;
    }
    .title{
        margin-left: 0 !important;
    }
    .title h1{
        font-size: 25px;
    }
    .title img{
        width: 35px;
        height: 35px;
        margin-left: 0;
    }
    .action{
        justify-content: center;
    }
}