.window{
    border: 1px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    margin: 45px 0;
}
.title{
    font-size: 30px;
    color: #6a6a6a;
}
.input-field:first-of-type{
    margin-top: 20px;
}
.input-field:last-of-type{
    margin-bottom: 30px;
}
.input-field label{
    color: #979797;
    font-size: 14px;
}
.restore{
    display: flex;
}
.restore .action{
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.auth{
    padding: 5px 20px;
    border-radius: 5px;
    color: #fff;
}
@media (max-device-width: 600px) {
    .title{
        font-size: 20px;
    }
    .restore{
        justify-content: center;
    }
}