.panel{
    box-shadow: 1px 1px 5px #c7c7c7;
    border-radius: 5px;
    padding: 40px 20px;
    width: 50%;
    text-align: center;
    color: #6d6d6d;
    margin: 8% auto 12% auto;
}
.panel .header{
    font-size: 16px;
}
.panel .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel .content svg {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.panel .content a{
    margin: 20px 0 0 10px;
    font-size: 25px;
    font-weight: 500;
    color: #00acc1;
}
.panel .content a:hover{
    color: #00c8dd;
}
@media (max-device-width: 600px) {
    .panel{
        width: 100%;
    }
}