body{
  background: #f2f2f2 !important;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper .reg-form{
  width: 40%;
  background: #ffffff;
  box-shadow: 0 0 20px lightgray;
}
.form-wrapper .reg-form .head{
  background: #0C2834;
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.form-wrapper .reg-form img{
  width: 50px;
  height: 50px;
}
.form-wrapper .reg-form span{
  margin-top: 20px;
  font-size: 30px;
}
.reg-form .content{
  padding: 10px 20px;
  position: relative;
}
.reg-form .content:after{
  z-index: 100;
  content: '';
  position: absolute;
  left: 48% ; top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #ffffff;
}
.content .input-field{
  margin: 15px 0;
}
.content .input-field .error{
  margin:0;
  font-weight: 100;
  font-size: 12px;
}
.content .input-field svg{
  width: 20px;
  height: 20px;
  margin: 7px 0 0 7px;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  padding: 10px 10px 30px 10px;
}
.actions .send input{
  background: #0C2834;
  color: white;
  padding: 10px 60px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.actions .send input:hover{
  background: #0c4450;
}
.actions .already-register span{
  font-size: 13px;
  color: #a0a0a0;
}
.actions .already-register a{
  font-size: 13px;
  color: #2196F3;
}
@media (max-device-width: 600px) {
    .reg-form{
      width: 100% !important;
    }
    .actions .send input{
      padding: 10px 30px;
    }
}
@media (min-device-width: 601px) and (max-device-width: 992px){
    .reg-form {
      width: 60% !important;
    }
}