
.solution-title {
    display: flex;
    justify-content: space-between;
}
.solution-title .title{
    font-size: 40px;
    color: #404040;
}
.solution-title .title span{
    font-size: 20px;
    color: dimgrey;
}
.solution-title .actions{
    display: flex;
    align-items: center;
}
.solution-title .actions .back {
    padding: 7px 15px;
    border-radius: 5px;
    color: white;
    background-color: #184b63;
    transition-duration: 0.3s;
}
.solution{
 font-weight: 300;
}
.solution a{
 color: #2196F3 !important;
}
.ql-size-large{
  font-size: 1.5em;
}
.ql-size-huge{
  font-size: 2.5em;
}
.ql-size-small{
  font-size: .75em;
}
.solution strong{
 color: #5B5B5B !important;
}
.solution h1{
 font-size: 2.5em;
}
.solution h2{
 font-size: 2.0em;
}
.solution h3{
 font-size: 1.5em;
}
.solution h4{
 font-size: 1.3em;
}
.solution h5{
 font-size: 1.1em;
}
.solution h6{
 font-size: 1.0em;
}
.solution pre{
 background-color: #23241f;
 color: #f8f8f2;
 overflow: visible;
 white-space: pre-wrap;
 margin-bottom: 5px;
 margin-top: 5px;
 padding: 5px 10px;
 border-radius: 3px;
}
.answer-container{
    position: relative;
    width: 100%;
}
.answer-container .answer-header{
    padding: 10px;
    border: 1px solid lightgray;
    color: dimgrey;
    border-radius: 5px;
    cursor: pointer;
}
.answer-container .answer-body{
    height: 60px;
    position: relative;
}
.answer-container .answer-body .answer-content{
    position: absolute;
    opacity: 0;
    background: #0c2834;
    border-radius: 0 0 10px 10px;
    color: white;
    width: 100%;
    padding: 20px;
}
.solution-title .actions .back:hover{
    background-color: #0c2834;
}
.end-actions .if-bad{
    color: dimgrey;
}
.end-actions .if-bad .do-better{
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 7px;
    transition-duration: 0.3s;
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    cursor: pointer;
}
.end-actions .if-bad .do-better:hover{
    background-color: #4CAF50;
    color: white;
}
.comments{
}
.comments .comments-header {
    padding: 10px;
    font-size: 20px;
}
.comments .comments-header .nums{
    padding: 3px 10px;
    border-radius: 10px;
    color: white;
}
.comments .add-comment{
    width: 100%;
    margin: 20px 0 30px 0;
    display: flex;
}
.add-comment .left-side{
    display: flex;
    align-items: center;
    margin: 0 3% 0 1%;
}
.add-comment .left-side a{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #969696;
}
.add-comment .left-side img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    border-radius: 100%;
}
.add-comment .right-side{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
}
.add-comment .write{
    padding: 15px;
}
.add-comment .write textarea{
    resize: none;
    border: none;
    min-height: 70px;
}
.add-comment .action{
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-comment .action .counter{
    display: flex;
    align-items: center;
    font-weight: 100;
    color: #919191;
    padding: 0 10px;
}
.add-comment .action .counter span{
    margin-left: 5px;
    color: rgba(33, 150, 243, 0.64);
}
.add-comment .action .post-comment{
    padding: 7px 15px;
    cursor: pointer;
    color: #2196F3;
    border-left: 1px solid lightgray;
    border-radius: 0 0 10px 0;
}
.add-comment .action .post-comment:hover{
    background: whitesmoke;
}
.add-comment-error{
    width: 15px;
    height: 15px;
    margin: 5px;
}
.comments .comment{
    display: flex;
    margin: 10px 5px;
}
.comments .comment .left-side {
    /*width: 15%;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments .comment .left-side img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.comments .comment .left-side .rating {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 5px;
}
.comments .comment .left-side .rating svg{
    width: 40px;
    height: 40px;
}
.comments .comment .left-side .rating .rate{
    font-size: 14px;
    color: dimgrey;
}
.comments .comment .left-side .rate-comment{
    cursor: pointer;
}
.comments .comment .right-side{
    width: 100%;
    margin-left: 10px;
}
.comment .right-side .top-info {
    display: flex;
    justify-content: space-between;
    color: #a8a8a8;
}
.comment .right-side .top-info .left{
    display: flex;
    flex-wrap: wrap;
}
.comment .right-side .top-info .right{
    display: flex;
}
.comment .right-side .top-info .right i{
    cursor: pointer;
    margin: 0 2px;
}
.comment .right-side .top-info .right svg{
    width: 15px;
    height: 15px;
}
.comment .right-side .top-info .user-info{
    display: flex;
}
.comment .right-side .top-info svg{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.comment .right-side .top-info .user-rating{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.comment .right-side .top-info .date{
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.comment .right-side .comment-text{
    color: #484848;
    font-weight: 100;
}
.comment-change{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-top: 5px;
    width: 100%;
}
.comment-change textarea{
    border: none;
    resize: none;
    padding: 10px;
    min-height: 80px;
    font-size: 14px;
    -moz-appearance: none;
}
.comment-change .actions{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid lightgray;
}
.comment-change .counter{
    font-weight: 100;
    color: dimgrey;
    padding: 5px 10px;
}
.comment-change .counter span{
    color: #82CAFA;
}
.comment-change .actions .save{
    padding: 5px 10px;
    border-left: 1px solid lightgray;
    color: #219BF3;
    font-weight: normal;
    cursor: pointer;
}
.comment-change .actions .save:hover{
    background-color: whitesmoke;
}
@media (max-device-width: 600px) {
    .solution-title {
        display: block;
    }
    .end-actions .if-bad{
        display: flex;
    }
    .end-actions .if-bad .do-better{
        max-height: 35px;
    }
    .comments .comment .left-side {
        flex-flow: column;
        /*width: 25%;*/
    }
    .comments .comment .left-side img{
        width: 40px;
        height: 40px;
    }
    .comments .comment .left-side .rating{
        margin: 0;
    }
    .comments .comment .left-side .rating svg{
        width: 30px;
        height: 30px;
    }
    .comments .comment {
        margin: 0 -10px;
    }
    .comments .add-comment .left-side{
        display: none;
    }
    .comments .add-comment .counter{
        font-size: 12px;
    }
    .comment-change .actions .counter{
        font-size: 12px;
    }
}


