.main{
    background-color: whitesmoke;
}
.card{
    border-radius: 15px !important;
}
.head {
    display: flex;
    align-items: center;
}
.head .title{
    color: #909090;
    font-size: 25px;
}
.head .tag-preview{
    background-color: #979797;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px !important;
    cursor: pointer;
    box-shadow: 0 0 10px lightgray;
    transition-duration: 0.3s;
    margin-left: 20px;
    min-height: 50px;
}
.head .tag-preview:hover{
    transform: translateY(-3px);
}
.content{
    display: flex;
    margin: 20px 0;
}
.content .right{
    width: 50%;
    display: flex;
    align-items: center;

    flex-flow: column;
}
.content .right .input-field{
    width: 100%;
    border: 1px solid lightgray;
    padding: 8px 15px 4px 15px;
    border-radius: 10px;
}
.content .right input{
    border-radius: 10px;
    border: none;
    height: auto;
}
.content .right input:focus{
    box-shadow: none !important;
    border: none !important;
}
.content .right textarea{
    border: 1px solid lightgray;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    min-height: 150px;
}
.content .right .counter{
    width: 100%;
    color: dimgrey;
    font-weight: 100;
}
.counter span{
    color: #239EFF;
}
.content .left{
    width: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.content .left .pick{
    margin: 10px;
    color: lightgray;
}
.card-action{
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 0 0 15px 15px !important;
    padding: 0 !important;
}
.card-action .create{
    padding: 10px 20px;
    color: white;
    background-color: #2196F3;
    border-radius: 0 0 15px 0;
    cursor: pointer;
}
.card-action .create:hover{
    background-color: #239eff;
}
@media (max-device-width: 600px) {
    .head{
        flex-flow: column;
        justify-content: center;
    }
    .head .tag-preview{
        margin: 10px 0;
    }
    .content{
        flex-flow: column;
    }
    .content .right{
        width: 100%;
        margin-bottom: 20px;
    }
    .content .left {
        width: 100%;
        margin-top: 0;
    }
    .card-action .create{
        width: 100%;
        border-radius: 0 0 15px 15px;
        text-align: center;
    }
}

