.tag-card{
    padding: 0 !important;
    border-radius: 10px;
}

.tag-card .card-title{
    padding: 5px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.tag-card .card-content {
    padding: 10px;
    height: 90px;
}
.tag-card .card-content p{
    font-weight: 400;
    font-size: 13px;
    color: dimgrey;
    height: 75px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}





.tag-card .card-action{
    padding: 0;
    border-radius: 0 0 10px 10px !important;
    display: flex;
}

.tag-card .card-action .tag-num{
    display: flex;
    justify-content: center;
    width: 33.33%;
    color: #7e7e7e;
    padding: 10px;

}
.tag-card .card-action .tag-num span{
    margin-top: -5px;
    overflow-x: hidden;
}

.tag-card .card-action .tag-num img{
    width: 15px;
    height: 15px;
}


@media (min-device-width: 992px) {
    .tag-card{
        width: 32% !important;
        margin: 1%;
    }
}

@media (min-device-width: 601px) and (max-device-width: 992px) {

    .tag-card{
        width: 48% !important;
        margin: 1% !important;
    }

}