.header-describe{

    background: url("../images/blue-bg.jpg") no-repeat center / cover fixed;
    padding: 20px;


}

.left-side .title{
    color: white;
    margin: 0;
}

.left-side .subtitle{
    color:white;
    font-weight: 100;
    font-size: 20px;
}

.top-input{
    background: lightgray !important;
    border-radius: 20px 0 0 20px !important;
    padding: 5px 10px 5px 10px !important;
    height: 25px !important;
    border: none !important;
    color: grey !important;
    transition: background-color 0.5s !important;
}

.top-input:focus{
    box-shadow: none !important;
    border: none !important;
    background: white !important;
}
.top-input:hover{
    background: white !important;
}

.top-input-image{
    height: 35px;
    border-radius: 0 20px 20px 0;
    background: gray;
    padding: 8px 0 0;
}

.top-input-image img{
    width: 35px;
    height: 18px;
}

.create-tag {
    display: flex;
    justify-content: right;
}

.create-tag .flat-btn{
    text-align: center;
    background-color: #dd2c00;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    width: 40%;
    padding: 7px 20px;
    border-radius: 25px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    transition: 0.3s;
}

.create-tag .flat-btn:hover{
    color: rgb(66, 66, 66);
    background: white;
    transform: translateY(-3px);
}
.categories{
    display: flex;
    justify-content: right;
}

.categories .cat{
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    transition-duration: 0.3s;
    margin: 5px;
}
.categories .cat:hover{
    background-color: rgba(255, 255, 255, 0.31);
}

.sort-type{
    display: flex;
    justify-content: right;
}

.sort-type .sort img{
    width: 25px;
    height: 25px;
}

.sort-type .sort{
    padding: 7px 7px 2px 7px;
    margin: 0 5px;
    border-radius: 20px;
    transition-duration: 0.3s;
}

.sort-type .sort:hover{
    background-color: rgba(255, 255, 255, 0.29);
}

@media (max-device-width: 600px) {

    .left-side{
        padding: 0 !important;
        text-align: center;
    }
    .header-describe{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .left-side .subtitle{
        font-size: 17px;
    }

    .sort-type, .categories{
        justify-content: center;
    }

    .create-tag .flat-btn{
        width: 100%;
    }



}


@media (min-device-width: 601px) and (max-device-width: 992px) {

    .create-tag .flat-btn{
        width: 50%;
    }


}

@media (max-device-width: 300px) {
    .top-form{
        width: 85% !important;
    }
}