<!DOCTYPE html>
<html layout:decorate="~{templates/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:charset="UTF-8">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/user.css}"/>

    <meta id="owner_id" th:content="${fullUserDTO.id}"/>
    <meta id="owner_img" th:content="'/'+${fullUserDTO.userImage}"/>
    <meta id="owner_login" th:content="${fullUserDTO.login}"/>
    <meta id="host" th:content="#{host}"/>

    <title th:text="'Пользователь | '+${fullUserDTO.login}"></title>
</head>
<body>

<div layout:fragment="content">
    <div class="main" id="main">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="card user-card z-depth-3">
                        <div class="card-content">

                            <div class="row">
                                <div class="col s12 l4 left" >
                                    <div class="card user-image z-depth-3">
                                        <div class="card-content">
                                            <img th:src="@{'/'+${fullUserDTO.userImage}}"/>
                                            <div class="share z-depth-1" >Поделиться <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#16576d" d="M352 320c-22.608 0-43.387 7.819-59.79 20.895l-102.486-64.054a96.551 96.551 0 0 0 0-41.683l102.486-64.054C308.613 184.181 329.392 192 352 192c53.019 0 96-42.981 96-96S405.019 0 352 0s-96 42.981-96 96c0 7.158.79 14.13 2.276 20.841L155.79 180.895C139.387 167.819 118.608 160 96 160c-53.019 0-96 42.981-96 96s42.981 96 96 96c22.608 0 43.387-7.819 59.79-20.895l102.486 64.054A96.301 96.301 0 0 0 256 416c0 53.019 42.981 96 96 96s96-42.981 96-96-42.981-96-96-96z"></path></svg> </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col s12 l8 right">
                                    <div class="name-line">
                                        <div class="name" th:text="${fullUserDTO.firstName}+' ' +${fullUserDTO.lastName}">

                                        </div>
                                        <div class="rating blue" th:text="${#numbers.formatDecimal(fullUserDTO.rating,0,'WHITESPACE',0,'POINT')}">

                                        </div>
                                    </div>
                                    <a th:if="${session.user != null && fullUserDTO.id == session.user.id}" th:href="@{/settings/user}" class="settings">
                                        Редактировать
                                    </a>
                                    <div class="about" >
                                        <div class="text" th:text="${fullUserDTO.about}">

                                        </div>
                                        <div th:if="${fullUserDTO.about.equals('')}" class="empty">
                                            Нет информации
                                        </div>
                                    </div>
                                    <div th:if="${#lists.size(fullUserDTO.interests) != 0}" class="interests">
                                        <a th:each="tag : ${fullUserDTO.interests}" th:href="@{'/tags/'+${tag.id}}" class="interest" th:text="${tag.name}"></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 stats">
                    <div class="stat" content="article-panel">
                        <div class="head">Статей написано</div>
                        <div class="num" th:text="${fullUserDTO.articles}">0</div>
                    </div>
                    <div class="stat" content="question-panel">
                        <div class="head">Вопросов задано</div>
                        <div class="num" th:text="${fullUserDTO.questions}">0</div>
                    </div>
                    <div class="stat" content="answer-panel">
                        <div class="head">Ответов</div>
                        <div class="num" th:text="${fullUserDTO.answers}">0</div>
                    </div>
                    <div class="stat" content="problems-created">
                        <div class="head">Задач придумано</div>
                        <div class="num" th:text="${fullUserDTO.problems}">0</div>
                    </div>
                    <div class="stat" content="problems-solved">
                        <div class="head">Задач решено</div>
                        <div class="num" th:text="${fullUserDTO.decided}">0</div>
                    </div>
                    <div class="stat" content="tag-panel">
                        <div class="head">Тегов создано</div>
                        <div class="num" th:text="${fullUserDTO.tags}">0</div>
                    </div>
                    <div class="stat" content="fact-panel">
                        <div class="head">Фактов найдено</div>
                        <div class="num" th:text="${fullUserDTO.facts}">0</div>
                    </div>
                </div>
            </div>
            <div class="content-panels">
                <div id="article-panel" style="display: none;">
                </div>
                <div id="question-panel" style="display: none;">
                </div>
                <div id="answer-panel" style="display: none;">
                </div>
                <div id="problems-created" class="problem-container" style="display: none;">
                </div>
                <div id="problems-solved" class="problem-container" style="display: none;">
                </div>
                <div id="tag-panel" style="display: none;">
                </div>
                <div id="fact-panel" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="js">
    <script th:src="@{/resources/js/user.js}"></script>
</th:block>

</body>
</html>