<!DOCTYPE html>
<html layout:decorate="~{templates/complex_layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:charset="UTF-8">
<head>
    <title>Пользователи</title>
    <link rel="stylesheet" th:href="@{/resources/css/function_panel.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/users.css}"/>
</head>
<body>

<div layout:fragment="top-panel">
    <div class="top-panel">
        <div class="text-panel">
            <h1>Пользователи</h1>
            <h4 class="grey-text text-lighten-3">Найдите кого угодно</h4>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <div class="content col s12 l8" id="users_container" style="padding: 0 10px;">
        <div class="function-panel">
            <div class="card">
                <div class="card-content" >
                    <form action="" method="get" id="sort-form" onsubmit="removeEmptyFields()">
                        <div class="search-div">
                            <input class="search-input" name="q" type="text" placeholder="Поиск"/>
                        </div>
                        <div class="options">
                            <div class="category-element">
                                <div id="sort-btn" content="sort-content" class="category-btn btn-flat">
                                    Сортировка<img th:src="@{/resources/images/rate-down2.svg}"/>
                                </div>
                                <div id="sort-content" class="category-content z-depth-2">
                                    <div datatype="sort" class="category-select" content="0">По возрастанию</div>
                                    <div datatype="sort" class="category-select" content="1">По убыванию</div>
                                    <input type="hidden" name="sort"/>
                                </div>
                            </div>
                            <div class="category-element">
                                <div id="type-btn" content="type-content" class="category-btn btn-flat">
                                    Тип<img th:src="@{/resources/images/rate-down2.svg}"/>
                                </div>
                                <div id="type-content" class="category-content z-depth-2">
                                    <div datatype="type" class="category-select" content="rating">Рейтинг</div>
                                    <div datatype="type" class="category-select" content="date">Новые</div>
                                    <div datatype="type" class="category-select" content="moder">Модераторы</div>
                                    <input type="hidden" name="type"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="small-helpers">
                    </div>
                </div>
            </div>
        </div>

        <div class="users-container">
            <div th:each="user : ${users}" class="user">
                <div class="ava"><img th:src="${#{fileServerLocation}.concat(user.userImage)}" /></div>
                <div class="info">
                    <div class="login" th:text="${user.login}"></div>
                    <div class="rating">
                        <img th:src="@{/resources/images/star.svg}" />
                        <span th:text="${user.rating}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="js">
    <script th:src="@{/resources/js/function_panel.js}"></script>
    <script th:src="@{/resources/js/users.js}"></script>
</th:block>
</body>
</html>