<!DOCTYPE html>
<html layout:decorate="~{templates/complex_layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:charset="UTF-8">
<head>
    <link rel="stylesheet" th:href="@{/resources/css/problems.css}"/>
    <meta th:if="${specialView!=null}" id="special_sort" th:name="${specialView.name}" th:path="${specialView.path}">
    <title>Задачи</title>
</head>
<body>

<div layout:fragment="top-panel">
    <div class="top-panel">
        <div class="text-panel">
            <h1>Задачи</h1>
            <h4 class="grey-text text-lighten-3">Решайте интересные задачи</h4>
        </div>
        <a th:href="@{/problems/create}" class="create">Новая задача</a>
    </div>
</div>

<div layout:fragment="content">
    <div class="content col s12 l8" id="problem_container" style="padding:0 10px;">

        <div class="function-panel">
            <div class="card">
                <div class="card-content" >
                    <form action="" method="get" id="sort-form" onsubmit="removeEmptyFields()">
                        <div class="search-div">
                            <input class="search-input" name="q" type="text" placeholder="Поиск"/>
                        </div>
                        <div class="options">
                            <div class="category-element">
                                <div id="sort-btn" content="sort-content" class="category-btn btn-flat">
                                    Сортировка<svg aria-hidden="true" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#A9A9A9" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
                                </div>
                                <div id="sort-content" class="category-content z-depth-2">
                                    <div datatype="sort" class="category-select" content="0">По возрастанию</div>
                                    <div datatype="sort" class="category-select" content="1">По убыванию</div>
                                    <input type="hidden" name="sort"/>
                                </div>
                            </div>
                            <div class="category-element">
                                <div id="type-btn" content="type-content" class="category-btn btn-flat">
                                    Тип<svg aria-hidden="true" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#A9A9A9" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
                                </div>
                                <div id="type-content" class="category-content z-depth-2">
                                    <div datatype="type" class="category-select" content="rating">Рейтинг</div>
                                    <div datatype="type" class="category-select" content="date">Новые</div>
                                    <input type="hidden" name="type"/>
                                </div>
                            </div>
                            <div class="category-element">
                                <div id="difficult-btn" content="difficult-content" class="category-btn btn-flat">
                                    Сложность<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#A9A9A9" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
                                </div>
                                <div id="difficult-content" class="category-content z-depth-2">
                                    <div datatype="difficult" class="category-select" content="EASY">Лёгкие</div>
                                    <div datatype="difficult" class="category-select" content="NORMAL">Средние</div>
                                    <div datatype="difficult" class="category-select" content="HARD">Сложные</div>
                                    <div datatype="difficult" class="category-select" content="HELL">Невозможные</div>
                                    <input type="hidden" name="difficult"/>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="small-helpers">
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(problems)}" class="col s12 no-content">
            По вашему запросу ничего не найдено
        </div>
        <div class="problems-container">
            <div th:each="problem : ${problems}" class="problem">
                <div class="left-side">
                    <a th:href="@{'/problems/'+${problem.id}}" class="title" th:text="${problem.title}"></a>
                    <div class="tags">
                        <a th:each="tag : ${problem.tags}" th:href="@{'/tags/'+${tag.id}}" th:style="'background: '+${tag.color}+';'" class="chip" th:text="${tag.name}"></a>
                    </div>
                </div>
                <div class="right-side">
                    <div class="info">
                        <div class="info-element"><span class="header">Сложность</span><span th:class="'difficult '+${problem.difficult}" th:text="${problem.difficult}"></span></div>
                        <div class="info-element"> <span class="header">Решили</span> <span class="num" th:text="${problem.decided}"></span></div>
                        <div class="info-element"> <span class="header">Рейтинг</span> <span class="num" th:text="${problem.rating}"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${pages.last > 1}" th:with="baseUrl=(${#request.getRequestURI()})" class="pagination col s12">
            <div class="content">
                <a th:if="${pages.current!=1}" th:href="@{${baseUrl}(page=${pages.current-1},type=${#request.getParameter('type')},sort=${#request.getParameter('sort')},q=${#request.getParameter('q')})}" class="previous elem act">Назад</a>
                <div class="center">
                    <a th:each="p:${#numbers.sequence(pages.first, pages.last)}" th:href="@{${baseUrl}(page=${p},type=${#request.getParameter('type')},sort=${#request.getParameter('sort')},q=${#request.getParameter('q')})}" th:class="'elem '+${p==pages.current?'active':''}" th:text="${p}"></a>
                    <div th:if="${pages.current+2<pages.total}" class="all-pages">
                        <span class="divide">...</span>
                        <a th:href="@{${baseUrl}(page=${pages.total},type=${#request.getParameter('type')},sort=${#request.getParameter('sort')},q=${#request.getParameter('q')})}" class="elem" th:text="${pages.total}"></a>
                    </div>
                </div>
                <a th:if="${pages.current!=total}" th:href="@{${baseUrl}(page=${pages.current+1},type=${#request.getParameter('type')},sort=${#request.getParameter('sort')},q=${#request.getParameter('q')})}" class="next elem act">Далее</a>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="js">
    <script th:src="@{/resources/js/problems.js}"></script>
</th:block>
</body>
</html>