<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{templates/simple_layout}"
        th:charset="UTF-8">
<head>
    <title>Создать задачу</title>
    <link rel="stylesheet" th:href="@{/resources/css/quill.bubble.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/tagSuggester.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/problemCreate.css}"/>
</head>
<body>


    <div layout:fragment="content">

        <div class="row head-info">
            <div class="col s12 l3 left">
                <h4 class="title grey-text">Новая задача</h4>
                <div class="select-difficult">
                    <div class="title">
                        <span>Сложность</span>
                        <div class="arrow">
                            <svg fill="#000000" height="24" viewBox="0 0 24 18" width="24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                                <path d="M0-.75h24v24H0z" fill="none"/>
                            </svg>
                        </div>
                    </div>
                    <div class="content" style="display: none;">
                        <div class="select-element" content="EASY">Лёгкая</div>
                        <div class="select-element" content="NORMAL">Средняя</div>
                        <div class="select-element" content="HARD">Сложная</div>
                        <div class="select-element" content="HELL">Невозможная</div>
                    </div>
                </div>
            </div>
            <div class="col s12 l9 right">
                <div class="title">
                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#7E7E7E" d="M497.94 74.17l-60.11-60.11c-18.75-18.75-49.16-18.75-67.91 0l-56.55 56.55 128.02 128.02 56.55-56.55c18.75-18.75 18.75-49.15 0-67.91zm-246.8-20.53c-15.62-15.62-40.94-15.62-56.56 0L75.8 172.43c-6.25 6.25-6.25 16.38 0 22.62l22.63 22.63c6.25 6.25 16.38 6.25 22.63 0l101.82-101.82 22.63 22.62L93.95 290.03A327.038 327.038 0 0 0 .17 485.11l-.03.23c-1.7 15.28 11.21 28.2 26.49 26.51a327.02 327.02 0 0 0 195.34-93.8l196.79-196.79-82.77-82.77-84.85-84.85z"></path></svg>
                    <div class="input-field">
                        <label for="title">Заголовок</label>
                        <input id="title" type="text" />
                    </div>
                </div>
                <div class="tags">
                    <div class="name" style="margin-bottom: -7px;">Теги</div>
                    <div class="input-field">
                        <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="#9e9e9e" d="M0 512V48C0 21.49 21.49 0 48 0h288c26.51 0 48 21.49 48 48v464L192 400 0 512z"></path></svg>
                        <div class="tags-input">
                            <input class="chips" id="tags-input" type="text"/>
                        </div>
                    </div>
                    <div class="tags-view" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row panels z-depth-2">
            <div class="top">
                <div class="select active" content="problem-panel">Условие</div>
                <div class="select" content="solution-panel">Решение</div>
            </div>
            <div id="problem-panel">
                <div id="problem-editor" class="editor">

                </div>
            </div>
            <div id="solution-panel" style="display: none;">
                <div id="solution-editor" class="editor">

                </div>
            </div>
        </div>
        <div class="row answer">
            <svg aria-hidden="true" data-prefix="fas" data-icon="check-square" class="svg-inline--fa fa-check-square fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#4CAF50" d="M400 480H48c-26.51 0-48-21.49-48-48V80c0-26.51 21.49-48 48-48h352c26.51 0 48 21.49 48 48v352c0 26.51-21.49 48-48 48zm-204.686-98.059l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.248-16.379-6.249-22.628 0L184 302.745l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.25 16.379 6.25 22.628.001z"></path></svg>
            <div class="input-field">
                <label for="answer-input">Ответ на задачу</label>
                <input type="text" id="answer-input"/>
            </div>>
        </div>
        <div class="row actions">
            <div id="create-problem">Создать задачу</div>
        </div>

    </div>


    <th:block layout:fragment="js">
        <script th:src="@{/resources/js/quill.min.js}"></script>
        <script th:src="@{/resources/js/tagSuggester.js}"></script>
        <script th:src="@{/resources/js/problemCreate.js}"></script>
    </th:block>

</body>
</html>