<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:charset="UTF-8">
<head>
    <title>Header</title>
</head>
<body>

<div class="nav z-depth-2" th:fragment="header">
    <div class="nav-wrapper bg-dark-blue">
        <div class="container">
            <!--Logo div-->
            <a  href="/" class="brand-logo" style="display: flex;">
                <div class="valign-wrapper">
                    <img th:src="@{/resources/images/logo.png}"/>
                    <h5 class="white-text">DeepThought</h5>
                </div>
            </a>
            <!--Menu icon for mobiles-->
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">|||</a>

            <!--Menu div-->
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="feedElement"><a class="white-text" th:href="@{/articles}">СТАТЬИ</a></li>
                <li id="questionElement"><a class="white-text" th:href="@{/questions}">ВОПРОСЫ</a></li>
                <li id="problemsElement"><a class="white-text" th:href="@{/problems}">ЗАДАЧИ</a></li>
                <li id="supportElement"><a class="white-text" th:href="@{/support}">ПОМОЩЬ</a></li>
                <!--Dropdown button-->
                <li class="user-account" th:if="${user!=null}">
                    <div class="user">
                        <div class="info">
                            <span class="login" th:text="${user.login}"></span>
                        </div>
                        <div class="ava"><img th:src="@{${user.userImage}}"/> </div>
                        <svg fill="#ffffff" height="24" viewBox="0 0 24 18" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
                            <path d="M0-.75h24v24H0z" fill="none"/>
                        </svg>
                    </div>
                    <div class="menu" style="display: none;">
                        <a th:href="@{/users/${user.id}}" class="menu-element">Профиль</a>
                        <a th:href="@{/users/settings/user}" class="menu-element">Настройки</a>
                        <a th:href="@{/logout}" class="menu-element">Выход</a>
                    </div>
                </li>
                <th:block th:if="${user==null}">
                    <li class="valign-wrapper" >
                        <a class="btn orange darken-2" id="log-btn" th:href="@{/login}" >Вход</a>
                    </li>
                    <li class="valign-wrapper">
                        <div class="left-divider"></div>
                    </li>
                    <li class="valign-wrapper" >
                        <a class="btn-flat" th:href="@{/register}" id="reg-btn">Регистрация</a>
                    </li>
                </th:block>
            </ul>

            <!--Для мобилок-->
            <ul id="mobile-demo" class="sidenav bg-dark-blue center-align">
                <th:block th:if="${user!=null}">
                    <img th:src="@{${user.userImage}}"/>
                    <li><a th:href="@{/users/${user.id}}" th:text="${user.login}"></a></li>
                </th:block>
                <li th:if="${user==null}"><a href="/login">Войти</a></li>
                <li><a  th:href="@{/articles}">СТАТЬИ</a></li>
                <li><a  th:href="@{/questions}">ВОПРОСЫ</a></li>
                <li><a  th:href="@{/problems}">ЗАДАЧИ</a></li>
                <li><a  th:href="@{/about}">О НАС</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>