<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:charset="UTF-8">
<head>
    <title>Head Styles</title>
</head>
<body>

    <th:block th:fragment="headStyles">

        <!--Content type-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!--Css-->
        <link rel="stylesheet" th:href="@{/resources/css/colors.min.css}"/>
	    <link rel="stylesheet" th:href="@{/resources/css/normalize.min.css}"/>
        <link rel="stylesheet" th:href="@{/resources/css/typography.css}"/>
	    <link rel="stylesheet" th:href="@{/resources/css/header.css}"/>
        <link rel="stylesheet" th:href="@{/resources/css/global.css}"/>
        <link rel="stylesheet" th:href="@{/resources/css/footer.css}"/>

        <!--Top icon-->
        <link rel="shortcut icon" th:href="@{/resources/images/icon2.ico}" type="image/x-icon"/>

        <!--csrf token-->
        <meta th:content="${_csrf.token}" id="_csrf"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta id="_csrf_header" th:content="${_csrf.headerName}"/>
        <!--file server location-->
        <!--<meta id="fileServerLocation" th:content="#{fileServerLocation}" />-->
    </th:block>

    <th:block th:fragment="footerJS">
        <script th:src="@{/resources/js/materialize.min.js}"></script>
        <script th:src="@{/resources/js/header_script.js}"></script>
        <script th:src="@{/resources/js/generic.js}"></script>
        <script th:src="@{/resources/js/xhr.js}"></script>
        <script th:src="@{/resources/js/modal.js}"></script>
    </th:block>

</body>
</html>