<!DOCTYPE html>
<html layout:decorate="~{templates/simple_layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:charset="UTF-8">
<head>
    <title>Помощь</title>
    <link rel="stylesheet" th:href="@{/resources/css/support.css}"/>
</head>
<body>

    <div layout:fragment="content">
        <div class="row">
            <div class="col s12">
                <div class="head">Помощь по проекту</div>
                <div class="divider"></div>
                <div class="questions ">
                    <div class="block">
                        <div class="title">
                            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="#afafaf" d="M319.4 320.6L224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"></path></svg>
                            <span>Пользователь</span>
                        </div>
                        <div class="content">
                            <a th:href="@{/support/1}" class="question">Как мне сменить фотографию профиля?</a>
                            <a th:href="@{/support/2}" class="question">Возможно ли подбирать информацию по моим интересам?</a>
                        </div>
                    </div>
                    <div class="block">
                        <div class="title">
                            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#afafaf" d="M622.3 271.1l-115.2-45c-4.1-1.6-12.6-3.7-22.2 0l-115.2 45c-10.7 4.2-17.7 14-17.7 24.9 0 111.6 68.7 188.8 132.9 213.9 9.6 3.7 18 1.6 22.2 0C558.4 489.9 640 420.5 640 296c0-10.9-7-20.7-17.7-24.9zM496 462.4V273.3l95.5 37.3c-5.6 87.1-60.9 135.4-95.5 151.8zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm96 40c0-2.5.8-4.8 1.1-7.2-2.5-.1-4.9-.8-7.5-.8h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c6.8 0 13.3-1.5 19.2-4-54-42.9-99.2-116.7-99.2-212z"></path></svg>
                            <span>Аккаунт</span>
                        </div>
                        <div class="content">
                            <a th:href="@{/support/3}" class="question">Я потерял доступ к прошлому email, как мне сменить его?</a>
                            <a th:href="@{/support/4}" class="question">Как я могу сменить свой пароль?</a>
                            <a th:href="@{/support/5}" class="question">Мой аккаунт заблокирован, что делать?</a>
                            <a th:href="@{/support/6}" class="question">Возможно ли удалить мой аккаунт?</a>
                        </div>
                    </div>
                    <div class="block">
                        <div class="title">
                            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path fill="#afafaf" d="M488 192H336v56c0 39.7-32.3 72-72 72s-72-32.3-72-72V126.4l-64.9 39C107.8 176.9 96 197.8 96 220.2v47.3l-80 46.2C.7 322.5-4.6 342.1 4.3 357.4l80 138.6c8.8 15.3 28.4 20.5 43.7 11.7L231.4 448H368c35.3 0 64-28.7 64-64h16c17.7 0 32-14.3 32-32v-64h8c13.3 0 24-10.7 24-24v-48c0-13.3-10.7-24-24-24zm147.7-37.4L555.7 16C546.9.7 527.3-4.5 512 4.3L408.6 64H306.4c-12 0-23.7 3.4-33.9 9.7L239 94.6c-9.4 5.8-15 16.1-15 27.1V248c0 22.1 17.9 40 40 40s40-17.9 40-40v-88h184c30.9 0 56 25.1 56 56v28.5l80-46.2c15.3-8.9 20.5-28.4 11.7-43.7z"></path></svg>
                            <span>Сотрудничество</span>
                        </div>
                        <div class="content">
                            <a th:href="@{/support/7}" class="question">Хочу стать участником проекта, что мне для этого нужно?</a>
                            <a th:href="@{/support/8}" class="question">Как стать партнёром проекта?</a>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="last">
                    Остались вопросы? <span class="ask">Задать</span>
                </div>
            </div>
        </div>
    </div>
    <th:block layout:fragment="js">
        <script th:src="@{/resources/js/support.js}"></script>
    </th:block>
</body>
</html>